//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$black1: #323232;
$brown1: brown;
$beige1: rgb(213, 174, 140);
$white1: #ffffff;

$desktop-margin: auto;
$desktop-column: 63px;
$desktop-gutter: 24px;

$tablet-margin: 36px;
$tablet-column: auto;
$tablet-gutter: 24px;

$mobile-margin: 16px;
$mobile-column: auto;
$mobile-gutter: 16px;
