@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;

* {
  background-color: $beige1;
  font-family: $avenir-font-family;
}

.site-main {
  &__title {
    color: $white1;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 40px;
  }
  &__search {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 24px;
  }
  &__card {
  }
}
